USE [master]
GO
/****** Object:  Database [CosmoRateDb]    Script Date: 01.12.2025 11:44:29 ******/
CREATE DATABASE [CosmoRateDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CosmoRateDb', FILENAME = N'C:\Users\budaj\CosmoRateDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CosmoRateDb_log', FILENAME = N'C:\Users\budaj\CosmoRateDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CosmoRateDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [OLIWKA\budaj]    Script Date: 01.12.2025 11:44:29 ******/
CREATE LOGIN [OLIWKA\budaj] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 01.12.2025 11:44:29 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 01.12.2025 11:44:29 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'KmN1rXf+pbj+sCm1PKhyhpLW3a8lF5QprGmH1kz6Uiw=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 01.12.2025 11:44:29 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'wO+l8JG4Knq46nMxvxpXF7Yy2uiga4cz9FL5E9wH95Y=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [OLIWKA\budaj]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
USE [CosmoRateDb]
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductAverageRating]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetProductAverageRating]
(
    @ProductId INT
)
RETURNS DECIMAL(4,2)
AS
BEGIN
    DECLARE @avg DECIMAL(4,2);

    SELECT @avg = AVG(CAST(Rating AS DECIMAL(4,2)))
    FROM dbo.Reviews
    WHERE ProductId = @ProductId
      AND Status = 'Approved';   -- liczymy tylko zatwierdzone recenzje

    -- Jeśli brak recenzji, zwróć 0 zamiast NULL
    RETURN ISNULL(@avg, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetProductReviewCount]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetProductReviewCount]
(
    @ProductId INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;

    SELECT @Count = COUNT(*)
    FROM Reviews
    WHERE ProductId = @ProductId;

    RETURN @Count;
END;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportedReviews]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportedReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251027153114_InitialCreate', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251103131342_AddUsers', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251104131251_AddUserExtraFields', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Serum')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Perfumy')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (4, N'Pielęgnacja włosów')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportedReviews] ON 

INSERT [dbo].[ImportedReviews] ([Id], [ProductName], [Rating], [Comment], [CreatedAt]) VALUES (1, N'Serum testowe', 5, N'Bardzo fajne', CAST(N'2025-11-14T20:16:06.0942362' AS DateTime2))
INSERT [dbo].[ImportedReviews] ([Id], [ProductName], [Rating], [Comment], [CreatedAt]) VALUES (2, N'Krem testowy', 3, N'Może być', CAST(N'2025-11-14T20:16:06.0942362' AS DateTime2))
INSERT [dbo].[ImportedReviews] ([Id], [ProductName], [Rating], [Comment], [CreatedAt]) VALUES (3, N'Serum testowe', 5, N'Bardzo fajne', CAST(N'2025-11-29T19:26:57.5343530' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ImportedReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp]) VALUES (1, NULL, N'LoginFailed', N'Email=admin@example.com', CAST(N'2025-11-14T15:44:05.1934913' AS DateTime2))
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp]) VALUES (2, NULL, N'LoginSuccess', N'Email=admin@example.com', CAST(N'2025-11-14T15:44:05.5305552' AS DateTime2))
INSERT [dbo].[Logs] ([Id], [UserId], [Action], [Details], [Timestamp]) VALUES (3, NULL, N'LoginFailed', N'Email=admin@example.com', CAST(N'2025-11-14T16:52:43.5976818' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Brand], [CategoryId], [ImageUrl]) VALUES (2, N'Serum z witaminą C', N'The Ordinary', 1, N'https://cdn.pixabay.com/photo/2023/12/19/01/10/ai-generated-8456887_1280.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Brand], [CategoryId], [ImageUrl]) VALUES (3, N'Serum nawilżające', N'Mixa', 1, N'https://cdn.pixabay.com/photo/2025/11/19/05/57/cosmetic-9964774_1280.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Brand], [CategoryId], [ImageUrl]) VALUES (4, N'Serum z witaminą C', N'Garnier', 1, N'https://cdn.pixabay.com/photo/2023/12/19/01/11/ai-generated-8456893_1280.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Title], [Body], [Status], [CreatedAt]) VALUES (1, 2, 2, 5, N'świetne serum', N'Szybko się wchłania, rozjaśnia cerę. ', N'Approved', CAST(N'2025-11-14T17:46:14.5393087' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Title], [Body], [Status], [CreatedAt]) VALUES (2, 2, 1004, 4, N'Dobre serum', N'Jestem zadowolony z zakupu, produkt jest dobry', N'Approved', CAST(N'2025-11-26T12:02:32.9769486' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Title], [Body], [Status], [CreatedAt]) VALUES (3, 12, 2, 1, N'Beznadzieja', N'Skleja rzęsy, zostawia grudki i ma nieprzyjemny zapach!', N'Approved', CAST(N'2025-11-27T17:34:16.0296565' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [Username]) VALUES (1, N'ola@example.com', N'Sekret#1', N'User', CAST(N'2025-11-04T13:15:01.6002483' AS DateTime2), N'')
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [Username]) VALUES (2, N'ania@example.com', N'haslo123', N'User', CAST(N'2025-11-04T14:07:50.5646531' AS DateTime2), N'')
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [Username]) VALUES (3, N'admin@example.com', N'admin123', N'Admin', CAST(N'2025-11-09T11:36:49.0620889' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 01.12.2025 11:44:29 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 01.12.2025 11:44:29 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 01.12.2025 11:44:29 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImportedReviews] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Username]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products_ProductId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[GetApprovedReviewsForProduct]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetApprovedReviewsForProduct]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        r.Id,
        r.Rating,
        r.Title,
        r.Body,
        r.CreatedAt,
        u.Username
    FROM dbo.Reviews AS r
    INNER JOIN dbo.Users AS u ON u.Id = r.UserId
    WHERE r.ProductId = @ProductId
      AND r.Status = 'Approved'
    ORDER BY r.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetUserReviewStatus]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetUserReviewStatus]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        @UserId AS UserId,
        COUNT(*) AS TotalReviews,
        SUM(CASE WHEN Status = 'Pending'  THEN 1 ELSE 0 END) AS PendingReviews,
        SUM(CASE WHEN Status = 'Approved' THEN 1 ELSE 0 END) AS ApprovedReviews,
        SUM(CASE WHEN Status = 'Rejected' THEN 1 ELSE 0 END) AS RejectedReviews
    FROM dbo.Reviews
    WHERE UserId = @UserId;
END;
GO
/****** Object:  Trigger [dbo].[trg_ImportedReviews_InsertLog]    Script Date: 01.12.2025 11:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[trg_ImportedReviews_InsertLog]
ON [dbo].[ImportedReviews]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Logs (UserId, Action, Details, Timestamp)
    SELECT 
        NULL,  -- brak konkretnego usera, to tylko demonstracja
        'TriggerImportedReview',
        CONCAT('ImportedId=', i.Id, '; ProductName=', i.ProductName, '; Rating=', i.Rating),
        SYSDATETIME()
    FROM inserted AS i;
END;
GO
ALTER TABLE [dbo].[ImportedReviews] ENABLE TRIGGER [trg_ImportedReviews_InsertLog]
GO
USE [master]
GO
